page-crear-publicacion-check {
    .bg {
        background: linear-gradient(to bottom, hsl(186, 48%, 58%) 0%, white 170%);
    }

    a {
        color: white;
    }

    .centrado{
        text-align: center;
      }

      h1, h2,h3,h4{
        color: rgb(31, 136, 155);
        font-weight: bold;
    }


}

