page-mis-publicaciones {
    ion-content {
        background-color: hsl(187, 71%, 77%) !important;
    }
    
    ion-text{
        text-align: center;
    }  

    .centrado{
        text-align: center;
    }
}
