page-mapa {

        ion-content, ion-item {
            background-color: hsl(187, 71%, 77%) !important;
        }

        .centrado{
            text-align: center;
          }
        
        p{
            font-weight: bold;
            color: rgb(52, 147, 163);
        }
}
